.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.wrapper {
  display: flex;
  align-items: stretch;
}

.sidebar {
  min-width: 100px;
  max-width: 100px;
  background-color: #34A9DC;
}

.sidebar-card {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.header {
  min-width: 100%;
  background-color: blue
}

.header ul {
  margin: 0;
}

.content {
  width: 100%;
}

.messenger-component {
  padding: 0;
  border: 1px #F0F5F8 solid;
  
}

.messenger .row {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
}
.messenger .row .col-md-3, .messenger .row .col-md-6 {
  padding: 0;
}

.chat .messages-feed {
  width: 75vh;
  height: 70vh;
  border-radius: 10px;
  background-color:#F0F5F8;
  margin-left: 10%;
}

.chat .messages-submit {
  height: 5vh;
  margin: 15px;
  border-radius: 10px;
  background-color:#F0F5F8;
}

.chat .form {
  margin: 15px;
  margin-left: 10%;
}

.chat .form-control {
  width: 63vh;
}
.chat .btn {
  margin-left: 10px;
}

.profile {
  height: 90vh;
}

.chats-list {
  height: 90vh;
}